[submodule "projects/elektroLumen"]
	path = projects/elektroLumen
	url = https://github.com/florisweb/elektroLumen.git
[submodule "projects/CableLamp"]
	path = projects/CableLamp
	url = https://github.com/florisweb/CableLamp.git