**/*.DS_Store
**/node_modules/*
interface/js/_services
**/package-lock.json
**/dist/*
interface/dist/*
interface/src/js/_services/*
server/serviceConfig.json
server/config.json
server/DBData/*
server/certificates/*
proxyServer/config.json
