


#mainContent .page {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width:  100%;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: visible;
       
    transition: transform .4s, opacity .4s;
}

#mainContent .page.hide {
    transform: scale(.9) translateY(40px);
    opacity: 0;
    pointer-events: none;
}


#mainContent .page .pageHeader {
    position: relative;
    display: flex;

    width: calc(100% - 10px * 2);
    height: 30px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.page .pageHeader .icon.headerIcon {
    width: 20px;
    height: 20px;
    padding: 5px;
}
.page .pageHeader .text.titleHolder {
    line-height: 30px;
    font-size: 18px;
}



#mainContent .page .pageOverview {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
#mainContent .page .pageOverview .icon.overviewIcon {
    position: relative;
    width: 60vw;
    max-width: 100px;
    height: auto;

    margin: auto;
    display: block;
    opacity: .8;
}
#mainContent .page .pageOverview .icon.overviewIcon.hide {
    opacity: 0;
    pointer-events: none;
}

#mainContent .page .pageOverview .icon.overviewIcon.whiteBackgroundBox {
    width: 60vw;
    max-width: 90px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .05);
    margin-bottom: 10px;
    opacity: 1;
}

#mainContent .page .pageOverview .iconHolder {
    display: flex;
    width:  90vw;
    max-width: 300px;
    margin: auto;
}

#mainContent .page .pageOverview .iconHolder .overviewIcon.overviewButton {
    position: relative;
    width: 60vw;
    max-width: 60px;
    height: auto;

    padding: 30px 10px;
}

#mainContent .page .pageOverview .iconHolder div:has(.overviewIcon.overviewButton.hasNotification)::after {
    content: '';
    position: absolute;
    top: 32px;
    margin-left: 43px;

    width: 10px;
    height: 10px;
    border-radius: 100%;
}
#mainContent .page .pageOverview .iconHolder div:has(.overviewIcon.overviewButton.hasNotification.warning:not(.error))::after {
    background: rgb(247, 160, 50);
}
#mainContent .page .pageOverview .iconHolder div:has(.overviewIcon.overviewButton.hasNotification.error)::after {
    background: rgb(247, 0, 0);
}


#mainContent .page .pageOverview .text.title {
    position: relative;
    margin:  auto;
    width: 100%;
    max-width: 300px;

    color:  rgba(255, 255, 255, .8);
    font-size: 15px;
    /*font-style: italic;*/
    overflow-wrap: break-word;
    text-align: center;
}
