:root {
    --componentWidth: 25%;
    --componentHeight: 100px;
}

.Panel {
    position: relative;
    /* flex: 1; */
    float: left;

    padding: 20px;
    width: calc(var(--componentWidth) - 10px * 2);
    height: calc(var(--componentHeight) - 10px * 2);
    margin: 10px;

    border-radius: 5px;

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .02);
    background: #fff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}

.Panel.whiteSpace {
    opacity: 0;
    pointer-events: none;
}

.Panel .panelIcon {
    float:  left;
    width:  40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.Panel .text.panelTitle {
    float:  left;
    width:  calc(100% - 40px - 5px);
    height: 30px;


    line-height: 30px;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    color:  #666;
}

.Panel .bottomBar {
    position: absolute;
    left:  20px;
    float:  bottom;
    bottom: 20px;

    width:  calc(100% - 20px * 2);
    height: 30px;
}




@media screen and (max-width: 1200px) {
    :root {
        --componentWidth: 33.3%;
        --componentHeight: 100px;
    }
}


@media screen and (max-width: 800px) {
    :root {
        --componentWidth: 50%;
        --componentHeight: 100px;
    }
}


@media screen and (max-width: 600px) {
    :root {
        --componentWidth: 66.6%;
        --componentHeight: 100px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --componentWidth: 100%;
        --componentHeight: 100px;
    }
}