
.PanelBox {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.Panel {
    position: relative;
    float: left;

    padding: 20px;
    width: calc(var(--componentWidth) - 10px * 2);
    height: calc(var(--componentHeight) - 10px * 2);
    margin: 10px;

    border-radius: 10px;

    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .05);
    background: #fff;
    box-sizing: border-box;
    transition: transform .3s;


    display: grid;
    grid-template-areas: 
        'title onlineIndicator'
        'subText subText';
    grid-template-columns: auto 20px;
    grid-template-rows: 30px 20px auto 30px;
    grid-template-columns: auto 20px;
    grid-template-rows: 30px 20px;
    grid-column-gap: 5px;
}

.Panel.hasIcon {
    grid-template-areas: 
        'icon title onlineIndicator'
        'icon subText subText';
    grid-template-columns: 40px auto 20px;
    grid-template-rows: 30px 20px;
}

.Panel.hasButtonBar {
    grid-template-areas: 
        'title onlineIndicator'
        'subText subText'
        '. .'
        'bottomBar bottomBar';
    grid-template-columns: auto 20px;
    grid-template-rows: 30px 20px auto 30px;
}

.Panel.hasButtonBar.hasIcon {
    grid-template-areas: 
        'icon title onlineIndicator'
        'icon subText subText'
        '. . .'
        'bottomBar bottomBar bottomBar';
    grid-template-columns: 40px auto 20px;
    grid-template-rows: 30px 20px auto 30px;
}





.Panel.animateIn {
    opacity: 0;
    animation: animatePanelIn .5s 1;
    animation-fill-mode: forwards;
}
.Panel.animateIn {
    --delayBetweenAnimateIns: .04s;
}

.Panel.animateIn:nth-child(1) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 1);
}
.Panel.animateIn:nth-child(2) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 2);
}
.Panel.animateIn:nth-child(3) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 3);
}
.Panel.animateIn:nth-child(4) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 4);
}
.Panel.animateIn:nth-child(5) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 5);
}
.Panel.animateIn:nth-child(6) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 6);
}
.Panel.animateIn:nth-child(7) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 7);
}
.Panel.animateIn:nth-child(8) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 8);
}
.Panel.animateIn:nth-child(9) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 9);
}
.Panel.animateIn:nth-child(10) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 10);
}
.Panel.animateIn:nth-child(11) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 11);
}
.Panel.animateIn:nth-child(12) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 12);
}
.Panel.animateIn:nth-child(13) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 13);
}
.Panel.animateIn:nth-child(14) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 14);
}
.Panel.animateIn:nth-child(15) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 15);
}
.Panel.animateIn:nth-child(16) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 16);
}
.Panel.animateIn:nth-child(17) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 17);
}
.Panel.animateIn:nth-child(18) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 18);
}
.Panel.animateIn:nth-child(19) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 19);
}
.Panel.animateIn:nth-child(20) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 20);
}
.Panel.animateIn:nth-child(21) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 21);
}
.Panel.animateIn:nth-child(22) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 22);
}
.Panel.animateIn:nth-child(23) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 23);
}
.Panel.animateIn:nth-child(24) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 24);
}
.Panel.animateIn:nth-child(25) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 25);
}
.Panel.animateIn:nth-child(26) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 26);
}
.Panel.animateIn:nth-child(27) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 27);
}
.Panel.animateIn:nth-child(28) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 28);
}
.Panel.animateIn:nth-child(29) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 29);
}
.Panel.animateIn:nth-child(30) {
    animation-delay: calc(var(--delayBetweenAnimateIns) * 30);
}
@keyframes animatePanelIn {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}




.Panel.whiteSpace {
    opacity: 0;
    pointer-events: none;
}


.Panel:has(> .Panel) {
    display: block;
    background: rgba(255, 255, 255, .4);
/*    padding: 10px;*/
    padding: 0;
    box-shadow: none;
}
.Panel > .Panel {
    margin: 0px;
    width: 100%;
}
.Panel > .Panel:not(:first-child) {
    margin-top: 10px;
}



.Panel .panelIcon {
    grid-area: icon;
    width: 100%;
    height: auto;
    margin-right: 5px;
    margin-bottom: 10px;
}

.Panel .text.panelTitle {
    grid-area: title;

    line-height: 30px;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    color:  #666;
}
.Panel .text.panelTitle.small {
    line-height: 20px;
    font-size: 15px;
}

.Panel .text.panelTitle.centered {
    line-height: 40px;
}

.Panel .text.subText {
    grid-area: subText;
    font-size: 12px;
}


.Panel .onlineIndicator {
    grid-area: onlineIndicator;
    position: relative;
    width:  8px;
    height: 8px;
    margin:  11px 1px;
    border-radius: 100%;
    
    background: #888;
}

.Panel .onlineIndicator.online {
    background: #0f0;
}

.Panel .bottomBar {
    position: absolute;
    left:  20px;
    float:  bottom;
    bottom: 20px;

    width:  calc(100% - 20px * 2);
    height: 30px;
}

.Panel .bottomBar .text.button.bDefault {
    position: relative;
    display: flex;

    text-align: center;
    margin-left: auto;
    float: right;
}









.Panel.graphPanel {
    grid-template-areas: 
        'title title'
        'graph graph';
    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto;
    grid-row-gap: 10px
}
.Panel.graphPanel .panelTitle {
    margin-top: -10px;
}

.Panel.graphPanel .GraphHolder {
    margin:  -20px -20px;
    width:  auto;
}

.Panel.graphPanel.downTimePanel .DownTimeGraph {
    grid-area: graph;
}









.Panel.systemPagePanel {
    grid-template-areas:    'icon title button'
                            'icon subText button';
    grid-template-columns: 40px auto 65px;
}
.Panel.systemPagePanel .button {
    grid-area: button;
    padding: 7px 0 !important;
    height: 30px;
    margin: 5px 0;
    text-align: center;
}

.Panel.systemPagePanel.error {
    border: 3px solid rgb(247, 100, 100);
    background: #fcd;
    grid-template-rows: 15px 40px;
}

.Panel.systemPagePanel.error .panelTitle {
    margin-top: -15px;
}
.Panel.systemPagePanel.error .subText {
    overflow: auto;
}
.Panel.systemPagePanel.error .button {
    background: rgb(247, 100, 100);
    border-color: rgb(247, 100, 100);
}





:root {
    --componentWidth: 25vw;
    --componentHeight: 100px;
}


@media screen and (max-width: 1200px) {
    :root {
        --componentWidth: 33.3vw;
        --componentHeight: 100px;
    }
}


@media screen and (max-width: 800px) {
    :root {
        --componentWidth: 50vw;
        --componentHeight: 100px;
    }
}


@media screen and (max-width: 500px) {
    :root {
        --componentWidth: 100vw;
        --componentHeight: 100px;
    }
}