


.Panel.CableLamp {
	width: calc(var(--componentWidth) - 10px * 2);
  	height: calc(var(--componentHeight) * 2 - 10px * 2);
}

.Panel.CableLamp .bottomBar .text.button.bDefault {
	position: relative;
	width:  55px;

	text-align: center;
	margin-left: auto;
	float: right;
}

.Panel.CableLamp .bottomBar .preparedProgramIndicator {
	position: absolute;
	height: 30px;

	margin-left: 0;
	opacity: 1;
	transition: margin-left .3s, opacity .3s;
}
.Panel.CableLamp .bottomBar .preparedProgramIndicator.hide {
	margin-left: -10px;
	opacity: 0;
	pointer-events: none;
}


.Panel.CableLamp .bottomBar .preparedProgramIndicator .alarmIcon {
	float:  left;
	height: 20px;
	width: auto;

	margin:  5px;
	opacity: .5;
}
.Panel.CableLamp .bottomBar .preparedProgramIndicator .text {
	float: left;
	line-height: 30px;
	font-size: 12px;
}


/*Page*/
.Panel.directControlPanel {
	grid-template-areas: 
        'icon title toggleButton'
        'icon subText toggleButton';
    grid-template-columns: 40px auto 80px;
    grid-template-rows: 30px 20px;
}

.Panel.directControlPanel .text.button.bDefault.toggleButton {
	grid-area: toggleButton;
	margin-top: 5px;
	margin-bottom: 15px;
}






.Panel .inputWrapper {
	grid-area: inputWrapper;
	margin-top: 5px;
}
.Panel .inputWrapper > * {
	float:  right;
}




.Panel.alarmPanel {
	grid-template-areas: 
        'icon title inputWrapper';
    grid-template-columns: 40px 40px auto;
}

.Panel.alarmPanel .inputWrapper .DropDownWrapper .DropDown {
	max-width: 120px;
}
.Panel.alarmPanel .inputWrapper .inputField.timeInput {
	margin-left: 5px;
}




.Panel.programPanel {
	grid-template-areas: 
        'icon title inputWrapper';
    grid-template-columns: 40px 40px auto;
}

.Panel.programPanel .inputWrapper .DropDownWrapper .DropDown {
	max-width: 120px;
}
.Panel.programPanel .inputWrapper .button {
	margin-left: 5px;
}


