

/*Page*/
.Panel.CameraManager {
	grid-template-areas: 
        'image';
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-row-gap: 0px

    background: url("CameraManager/latestImage");
    background-size: cover;
    background-repeat: no-repeat;
}