
:root {
  --window-height:  100vh;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: fixed;
  left:  0;
  top:  0;

  width: 100vw;
  height: var(--window-height);
  
  padding: 0;
  margin: 0;
}
