
:root {
  --window-height:  100vh;
}

body {
  position: fixed;
  left:  0;
  top:  0;

  width: 100vw;
  height: var(--window-height);
  
  padding: 0;
  margin: 0;

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #6496FF;
}



#logoBackground {
  position: fixed;
  left:  0;
  top:  0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  background: #6496FF;
  transition: all .3s;
}
#logoBackground.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
}
#logoBackground img {
  position: relative;
  top:  40vh;
  width: 60vw;
  max-width: 130px;
  height: auto;
  
  margin: auto;
  transform: translateY(-50%);
  display: block;
  animation: animate_logo 5s infinite;
}

@keyframes animate_logo {
    0% {
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }
    35% {
      transform: scale(.93) translateY(-50%);
      opacity: .8;
    }
    100% {
      transform: scale(1) translateY(-50%);
      opacity: 1;
    }
}
#logoBackground .text {
  position: relative;
  width:  100vw;
  height: 40px;
  
  left:  0;
  text-align: center;
  color:  #fff;
  top:  calc(40vh - 70px);
}


#signInWithFloriswebButton.text {
  position: relative;

  left: calc(50% - 191px / 2);
  margin: auto;
  display: initial;
  color: #fff !important;
  border-color: #fff;

  transition: all .6s;
}

#signInWithFloriswebButton.hide {
  opacity: 0;
  top:  calc(40vh - 45px);
  pointer-events: none;
}


